/* _content/BlazorStrap.V5/Components/Common/BSCollapse.razor.rz.scp.css */
.collapsing.collapse-horizontal[b-z4efc6pqf8] {
    width: 0;
    height: auto;
    transition: width .35s ease;
}
/* _content/BlazorStrap.V5/Components/Common/BSToast.razor.rz.scp.css */
.toast-icon[b-t11jluzb0r]{
    color: rgba(255,255,255, .7);
}
/* _content/BlazorStrap.V5/Components/DataGrid/BSDataGridCore.razor.rz.scp.css */
.grid-header-button[b-ltjvs7jrjx] {
    font-weight: inherit;
    background: none;
    color: inherit;
    border: none;
    text-align: inherit;
    margin: 0;
    padding: 0;
}
[b-ltjvs7jrjx] .grid-header-link{
    font-weight: inherit;
    background: none;
    color: inherit;
    border: none;
    text-align: inherit;
    margin: 0 .25rem 0 0;
    padding: 0;
}
th button.sort-by[b-ltjvs7jrjx] {
    padding-right: 18px;
    position: relative;
}

button.sort-by[b-ltjvs7jrjx]:before,
button.sort-by[b-ltjvs7jrjx]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

button.sort-by[b-ltjvs7jrjx]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

button.sort-by[b-ltjvs7jrjx]:after {
    border-top-color: #666;
    margin-top: 1px;
}

th button.sort[b-ltjvs7jrjx] {
    padding-right: 18px;
    position: relative;
}

button.sort[b-ltjvs7jrjx]:before,
button.sort[b-ltjvs7jrjx]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

button.sort[b-ltjvs7jrjx]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

th button.sort-desc[b-ltjvs7jrjx] {
    padding-right: 18px;
    position: relative;
}

button.sort-desc[b-ltjvs7jrjx]:before,
button.sort-desc[b-ltjvs7jrjx]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

button.sort-desc[b-ltjvs7jrjx]:after {
    border-top-color: #666;
    margin-top: 1px;
}


.system-uicons--filter[b-ltjvs7jrjx] {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.5.5h12l-4 7v3l-3 3v-6z' fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' transform='translate(4 4)'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.system-uicons--filter-empty[b-ltjvs7jrjx] {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.5.5h12l-4 7v3l-3 3v-6z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' transform='translate(4 4)'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.system-uicons--menu[b-ltjvs7jrjx] {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m4.5 6.5h12'/%3E%3Cpath d='m4.498 10.5h11.997'/%3E%3Cpath d='m4.5 14.5h11.995'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* _content/BlazorStrap.V5/Components/Datatable/BSDataTableHead.razor.rz.scp.css */
/*Credit https://codepen.io/imarkrige/pen/kyOjoL */
th a[b-oags7sleff],
td a[b-oags7sleff] {
    display: block;
    width: 100%;
}

    th a.sort-by[b-oags7sleff] {
        padding-right: 18px;
        position: relative;
    }

a.sort-by[b-oags7sleff]:before,
a.sort-by[b-oags7sleff]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort-by[b-oags7sleff]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

a.sort-by[b-oags7sleff]:after {
    border-top-color: #666;
    margin-top: 1px;
}

th a.sort[b-oags7sleff] {
    padding-right: 18px;
    position: relative;
}

a.sort[b-oags7sleff]:before,
a.sort[b-oags7sleff]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort[b-oags7sleff]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

th a.sort-desc[b-oags7sleff] {
    padding-right: 18px;
    position: relative;
}

a.sort-desc[b-oags7sleff]:before,
a.sort-desc[b-oags7sleff]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort-desc[b-oags7sleff]:after {
    border-top-color: #666;
    margin-top: 1px;
}
